/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

body, html {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#613419;
	--color-background:#ffb81d;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/* FONT */
 @font-face {
	src: url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
	font-family: "titan one", sans-serif;
	font-weight: 400;
	font-style: inherit;
 }


@font-face {
	font-family: "ff-meta-web-pro", sans-serif;
	src: url(https://use.typekit.net/eal7ghf.css);
	font-weight: 700;
	font-style: normal;
}
 /* Styles */

 body{
	background-color: var(--color-background);
	color: var(--color-text);
 }


/*text styles*/
h1{
	font-weight: 400;
	font-size: 1.6rem;
	font-family: 'titan one';
	text-align: center;

}




h2{
	font-weight: 400;
	font-size: 1.6rem;
	font-family: 'titan one';
 }



h3{
	font-weight: 400;
	font-size: 1rem;
	font-family: 'titan one';
 }

 p{
	font-family: "ff-meta-web-pro";
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
 }


 /* nav logo*/
 nav:first-of-type h1 img{
	max-width: 20%;
	margin-left: 1em;
	position:fixed;	
	left: 0;
	z-index: 3;
}

/* nav choclate drip right*/

header:nth-of-type(1) img{
max-width: 20%;
position:absolute;
right: 0;
top: 0;
}

/*nav menu*/
ul{
	background-color: blue;
	height: 100%;
	width: 100%;
	max-width: 60em;
	position: fixed;
	top: 0;
	right: -60em;


}

/* first section */

section:nth-of-type(1){
	display: grid;
	grid-template-rows: 1fr 0.1fr 0.1fr;
}



section:nth-of-type(1) img{
	max-width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20em 20em 20em 20em;
	grid-row: 1;
}

section:nth-of-type(1) h2{
	font-size: 2.3rem;
	text-align: center;
	margin: 0.3rem 1rem 0rem 1rem;
}

/* Intersection Observer API */
/*blik door scherm*/
div:nth-of-type(1){
	display: flex;
	justify-content: center;
	position: sticky;
	top: 1em;
	z-index: 3;
}

/*select zowel blik als grid*/
div:first-of-type img:first-of-type{
	margin-top: 2em;
	max-width: 10em;
}

h2:first-of-type{
	text-transform: uppercase;
}



/*man foto rechts*/

/*section 2*/
section:nth-of-type(2){
	margin-top: 22.13em;
	margin-bottom:21.13em;
}


section:nth-of-type(2) h2 {
	margin: 0;
	font-size: 2rem;
    font-weight: 400;
    line-height: 1.15;
	text-align: center;
	text-transform: none;
	margin: 1rem 1rem 0rem 1rem;
 } 

 section:nth-of-type(2) p{
	margin: 1em 1em 0em 1em;
 }


/* 3 section */
section:nth-of-type(3){
	display: grid;
	grid-template-rows: 1fr 0.1fr 0.1fr 0.1fr;
}
section:nth-of-type(3) img{
	grid-row: 1;
	border-radius: 2em;;
	
	}
	
section:nth-of-type(3) div {
		margin: 1rem 4rem 1rem 1rem;
		overflow:hidden;
		position: static;
		z-index: 1;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	
section:nth-of-type(3) img:nth-of-type(1) {
		grid-row: 1/4;
		grid-column: 3/4;
		object-fit: cover;
		z-index: 2;
	}
	
section:nth-of-type(3) img:nth-of-type(2)
	 {
		max-width: 80%;
		grid-column: 1/4;
		grid-row: 1/4;
	}



section:nth-of-type(3) p{
	text-align: left;
	margin: 0em 6em 3em 1em;
	grid-row: 4;
}

section:nth-of-type(3) h2{
	text-align: left;
	font-size: 2rem;
	margin: 1rem 4rem 1rem 1rem;
	text-transform:none;
	grid-row: 3;
}




/*section 4*/
section:nth-of-type(4) {
	display: grid;
	grid-template-rows: 1fr 0.1fr 1fr;
  }

  section:nth-of-type(4) img{
	border-radius: 1em;
	grid-row: 1;
	max-width: 80%;
	margin: 0rem 0rem 0rem 1rem;
}

section:nth-of-type(4) h2{
	font-size: 2rem;
	text-transform: none;
	margin: 1rem 5rem 1rem 1rem;
	grid-row: 2;
}

section:nth-of-type(4) p{
	text-align: left;
	margin: 0rem 5rem 10rem 1rem;
	grid-row: 3;
}






/*section 5*/
section:nth-of-type(5) {
	display: grid;
	grid-template-rows: 1fr 0.1fr 1fr;
  }

  section:nth-of-type(5) img{
	max-width: 100%;
	border-radius: 1em;
	grid-row: 1;
}

section:nth-of-type(5) h2{
	text-align: left;
	margin: 1em 2rem 1em 0rem;
	grid-row: 2;
}


section:nth-of-type(5) p{
	text-align: left;
	margin: 0em 2rem 12em 0rem;
	grid-row: 3;
}




section:nth-of-type(5){
	margin: 0em 1em 0em 1rem;
}




section a{
	display: flex;
	justify-content: center;
	color: var(--color-text);
	font-family: "ff-meta-web-pro";
	font-size: 1,6rem;
	font-weight: 900;
	text-decoration: none;
}






/* last section 6 end of page */ 
section:nth-of-type(6) {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
  }
  
  section:nth-of-type(6) img {
	grid-row: 1;
	margin: auto;
  }
  
  section:nth-of-type(6) h2 {
	font-size: 2rem;
	grid-row: 2;
	text-align:center;
	margin: 0rem 1rem 0rem 2rem;
  }
  
  section:nth-of-type(6) p {
	grid-row: 3;
	text-align: center;
	margin: 0rem 2rem 3rem 4rem;
  }
  


/*footer styling*/ 
footer{
	position: relative;
	overflow:hidden;
	height: 80vh;
}



footer a{
	display: grid;
	grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
	font-family: "ff-meta-web-pro";
	color:var(--color-text);
	text-decoration: none;
	display: flex;
	justify-content:center;
}

footer a:nth-of-type(1){
	grid-row: 1;
	
}

footer a:nth-of-type(2){
	grid-row: 2;
	
}

footer a:nth-of-type(3){
	grid-row: 3;
	
}

footer a:nth-of-type(4){
	grid-row: 4;
	
}

footer a:nth-of-type(5){
	grid-row: 5;
	
}

footer section{
	display: flex;
	justify-content: center;
}


footer section img:nth-of-type(2){
	margin: 0rem 0rem 0rem 0rem;
}

footer section img:nth-of-type(3){
	margin: 0rem 0rem 0rem 0rem;
}
footer section img:nth-of-type(4){
		margin: 0rem 0rem 0rem 0rem;
}


footer img:nth-of-type(4){
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateX(20em);
}


footer img:nth-of-type(1){
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateX(20em);

}


/*media*/

@media (min-width: 1340px){
	body {
        background-image: url(/images/fullscreen.svg);
		background-repeat: no-repeat;
    }

}

@media (min-width: 1340px){
footer img:first-of-type{
display: none;
}

}


