/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#613419;
	--color-background:#ffb81d;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/* FONT */
 @font-face {
	src: url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
	font-family: "titan one", sans-serif;
	font-weight: 400;
	font-style: inherit;
 }


@font-face {
	font-family: "ff-meta-web-pro", sans-serif;
	src: url(https://use.typekit.net/eal7ghf.css);
	font-weight: 700;
	font-style: normal;
}
 /* Styles */

:first-child img {
	margin: 1em;
	max-width: 100%;
	/* position: sticky; */
}

 body{
	background-color: var(--color-background);
	color: var(--color-text);
 }

 h1{
	font-weight: 400;
	font-family: 'titan one';
	font-size: 2em;
 }
 
 h2{
	font-weight: 400;
	font-size: 2em;
	font-family: 'titan one';
 }


 h2:nth-of-type(2) {
    font-weight: 400;
    line-height: 1.15;
	text-align: center;
 } 

 h3{
	font-weight: 400;
	font-size: 1rem;
	font-family: 'titan one';
 }

 p{
	font-family: "ff-meta-web-pro";
	font-weight: 400;
	font-size: 1.5rem;
 }

/* picture{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 16px;
} */


footer{
	font-family: 'tita one';
	font-family: 'titan one';
}